/node_modules
/dist
/.tmp
/tmp
/.sass-cache
/bower_components
/build
/public/dist
/public/index.html
/public/app.html
/public/mngr-app.html
/Versus/node_modules
/Versus/config

*~
\#*\#
.#*

newrelic_agent.log