    <div class="panel panel-default ng-scope">
	<div class="panel-body ng-binding">
	    <h2> Welcome Back!</h2>
	    <p> You have been ranked <strong> {{ ctrl.rankedCount }} times. </strong></p>
	</div>
	
    </div>
    
    <div class="panel panel-default ng-scope" ng-repeat="match in ctrl.matches | orderBy: '-rating'">
	<!-- IF MATCH IS UNLOCKED -->
	<div class="panel-body ng-binding" ng-if="match.unlocked">
	    <div class="col-xs-3"> <img ng-src="{{match.profileImg}}"> </img> </div>
	    <div class="col-xs-9"> 
		<h2> {{match.username }}</h2>
		<button class="btn btn-primary btn-block" ng-click="ctrl.chat(match)">
		    Chat
		</button>
	    </div>
	</div>
	
    <!-- IF MATCH IS LOCKED -->
	<div class="panel-body ng-binding" ng-if="!match.unlocked">
	    <div class="col-xs-3"> <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrV3BkymYNhw9Qc_wvvVguZJsf1iooiR_Tv8KYZeDE2uLNeeOl5IZJ6Q"> </img> </div>
	    <div class="col-xs-9"> 
		<h2> {{match.username }}</h2>
		<button class="btn btn-primary btn-block" ng-click="ctrl.unlock(match)">
		    Unlock for {{match.unlockCost}} Ego
		</button>
	    </div>
	</div>
    </div>

